@import "@core-css";

.header {
  width: 100%;
  display: flex;
  background: $grey;
  height: 80px;
  color: #fff;
}

.wrapper {
  @include desktop {
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
  }
  margin-left: 30px;
  align-items: center;
  display: flex;
  overflow: hidden;
}



.nav a,
.auth a {
  @include desktop {
    display: inline-block;
    margin: 0 15px;
    padding: 5px 15px;
    text-align: center;
    height: auto;
    width: auto;
    border: 2px solid $grey;
    font-family: "Roboto-Bold";
    transition: 0.3s;
    outline: none;
    &:hover {
      border: 2px solid $orange;
      transition: 0.3s;
    }
  }
}

.auth a {
  margin: 0 15px;
  cursor: pointer;
}
