@import "@core-css";

.logo {
  width: 85px;
  color: #fff;
  img {
    cursor: pointer;
    width: 100%;
  }

  @include mobile {
    margin: 0 auto;
    img {
      margin: 0 auto;
      text-align: center;
    }
  }
}
