.footer {
    margin: 50px auto auto auto;
    width: 100%;
    height: 100px;
    overflow: hidden;
    color: #fff;
    background: #3C4148;
}

.info {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}