.button-main {
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 45px;
  background: #ff8d00;
  border: 2px solid #ff8d00;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Title';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-main:hover {
  background: #3c4148;
  border: 2px solid #ff8d00;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-second {
  margin: 0 auto;
  padding: 8px;
  min-width: 120px;
  width: auto;
  height: 45px;
  border: 2px solid #ff8d00;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Title';
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button-second:hover {
  border: 2px solid #000;
  -webkit-transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;
}
