/* Шрифти */
@font-face {
	font-family: "regular";
	src:url(../fonts/regular.otf);
}

/* Стандартні CSS свойства */

h1, h2, h3 { font-family: "regular"; }
.clear { clear: both; }


/* Для шаблону */

body {
	background: #f4f3f3;
	font-family: "regular"; 
}

header {
	margin: 0 auto;
	padding: ;
	width: 100%;
	height: 370px;
	background: #3c4148;
}