.form {
  margin: 0 auto 25px;
  display: flex;
  width: 100%;
}

.date-input {
  margin: 0 6px 0 0;
  display: block;
  width: 130px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  border: 1px solid #fff;
}