@import "@core-css";

.sidebar img {
  margin: 0 auto;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  border-right: 2px solid $grey;
  z-index: 100;
}

.sidebar a {
  margin: 5px auto;
  padding-left: 15px;
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: $orange;
  color: #fff;
  font-weight: 600;
  &:first-of-type {
    margin-top: 0;
  }
}

.icon {
  margin: 10px 0 0 10px;
  color: $grey;
  font-size: 18px;

}