.wrapper {
  margin: 0 auto;
  padding: 0 25px;
  width: 100%;
  height: auto;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
}

.wrapper-flex {
  display: flex;
  justify-content: space-between;
}

.wrapper-block {
  display: block;
}
