@import '@core-css';

.user {
  margin: 10px auto;
  text-align: center;
  display: block;
  width: 100%;
  max-width: 360px;
  .username {
    text-align: center;
  }

  .description {
    margin: 0 auto;
    max-width: 320px;
    text-align: left;
  }


  img {
    object-fit: cover;
    width: 50%;
  }
}
