@import '@core-css';

.button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 12px 30px;
  width: auto;
  border: none;
  // height: 40px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  font-family: 'Roboto';
  border-radius: 6px;
  &:disabled {
    background: $grey-light;
  }
}

.fullWidth {
  width: 100%;
}

.light {
  background: $orange;

  &:hover {
    background: $orange-dark;
  }
}

.dark {
  background: $grey;

  &:hover {
    background: lighten($color: $grey, $amount: 10);
  }
}