.modal-window {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: fixed;
  padding: 25px 15px;
  margin: auto;
  top: 30%;
  left: 0;
  right: 0;
  width: 450px;
  min-height: 150px;
  height: auto;
  background: #fff;
  border-radius: 25px;
  z-index: 1000;
}

.modal-window__header {
  width: 100%;
  font-size: 24px;
  text-align: center;
}
