.container .content-title {
  margin: 50px auto;
  font-size: 32px;
  font-family: 'Title';
  font-weight: 600;
  color: #3c4148;
  text-align: center;
}

.container .content-subtitle {
  margin: 0 auto 25px auto;
  font-size: 22px;
  font-family: 'Title';
  font-weight: 600;
  color: #3c4148;
  text-align: center;
}

.content-section {
  margin: 25px auto 35px auto;
  border-bottom: 2px solid #000;
  padding-bottom: 25px;
}

.content-section:last-child {
  border: none;
}
