.search {
    background: #3C4148;
}

.titleSection {
    margin: 0 auto;
    width: 100%;
    display: block;
}

.title {
    margin: 0 auto;
    color: #fff;
    text-align: center;
    font-size: 32px;
    width: 100%;
}