.logo {
  margin: 0 0 0 0;
  a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    img {
      margin-top: 10px;
      width: 80px;
    }
  }
}

.text {
    margin-top: 40px;
}