@import '@core-css';

.footer {
  background: $grey;
  color: #fff;
  height: 120px;
}

.content {
  margin: 0 auto;
  padding: 5px 25px;
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 85px;
}

.copyright {
  text-align: center;
}

.links {
  .link {
    cursor: pointer;
    margin: 0 15px;
  }
  svg {
    font-size: 26px;
    &:hover {
      color: $orange;
    }
  }
}
