.marker {
  margin: 0 auto;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-weight: 600;
  font-size: 11px;
  border-radius: 40px;
  border: 2px solid orange;
  text-align: center;
  background: #fff;
}