<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" />
    <title>Template</title>
  </head>

  <body>
    <header>
      <div class="wrapper">
        <section class="top-nav">
          <div class="logo">
            <a href="index.html">
              <img src="img/logo.png" alt="logo" />
              <h1>Pet Finder</h1>
            </a>
          </div>
          <nav class="main-nav">
            <a href="#">Головна</a>
            <a href="#">Зниклі</a>
            <a href="#">Знайдені</a>
            <a href="#">Про нас</a>
          </nav>
          <nav class="profile-nav">
            <!-- <img src="img/ava.jpg" class="avatar" /> -->
            <a class="login-btn" href="#">Увійти</a>
            <a class="signup-btn" href="#">Реєстрація</a>
          </nav>
        </section>
        <section class="header-action">
          <div class="header-title">
            <h2><span>Pet </span> Finder</h2>
            <h3>База ваших улюбленців</h3>
          </div>
          <div class="search-form">
            <div class="search-inputs">
              <select name="" id="">
                <option value="all">Тип (усі)</option>
                <option value="cats">Коти</option>
                <option value="dogs">Собаки</option>
                <option value="other">Інші</option>
              </select>
              <select name="" id="">
                <option value="status">Стать (усі)</option>
                <option value="escaped">Він</option>
                <option value="founded">Вона</option>
              </select>
              <select name="" id="">
                <option value="status">Статус (усі)</option>
                <option value="escaped">Зниклі</option>
                <option value="founded">Знайдені</option>
              </select>
              <input type="number" placeholder="Вік" min="0" max="100" />
            </div>
            <button class="search-button">Застосувати</button>
          </div>
          <div class="call-to-action">
            <button>Подати оголошення</button>
            <button>Придбати нашийник</button>
          </div>
        </section>
      </div>
    </header>
    <main>
      <div class="wrapper">
        <section class="instruction">
          <h2>Досить зволікати, настав час шукати!</h2>
          <div class="instructions">
            <div class="item">
              <h3>1</h3>
              <p>Зареєструйтеся<br />на сайті</p>
            </div>
            <div class="item">
              <h3>2</h3>
              <p>Подайте<br />оголошення</p>
            </div>
            <div class="item">
              <h3>3</h3>
              <p>Поверніть улюбленця додому :)</p>
            </div>
          </div>
          <hr />
        </section>
        <section class="last-adverts">
          <h2>Вони шукають своїх господарів</h2>
          <h3>Останні оголошення</h3>
          <div class="adverts">
            <div class="item">
              <img src="./img/animals/cat1.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/dog2.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/cat3.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/dog1.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/cat1.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/dog2.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/cat3.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/dog1.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/cat3.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/dog1.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/cat3.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
            <div class="item">
              <img src="./img/animals/dog1.jpg" alt="animal" />
              <button>Переглянути</button>
            </div>
          </div>
          <hr />
        </section>
        <section class="collar">
          <h2>GPS-нашийник</h2>
          <h3>Зручно. Швидко. Надійно.</h3>
          <div class="collar-description">
            <img src="" alt="">
            <p>Pet</p>
          </div>
          <hr />
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="wrapper">
        <section class="footer-content">
          <div class="copyright">
            <a href="#"><img src="./img/logo.png" alt="logo" /></a>
            <h3><a href="#">Pet Finder</a></h3>
            <br />
            <span>(c) 2019 Pet Finder Project</span>
          </div>
          <div class="social-icons">
            <a href=""><img src="./img/icons/git-footer.png" alt=""/></a>
            <a href=""><img src="./img/icons/facebook-footer.png" alt=""/></a>
          </div>
        </section>
      </div>
    </footer>
  </body>
</html>