.PostCard {
  margin: 10px 15px;
  width: 280px;
  height: auto;
  object-fit: cover;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  overflow: hidden;
  border-radius: 6px;
}

.PostCardImg {
  img {
    width: 100%;
  }
}

.PostCardName {
  text-align: center;
  border-bottom: 2px solid grey;
  h3 {
    font-weight: 300;
    margin: 7px auto;
  }
}

.PostCardDescription {
  padding-left: 20px;
}

.PostCardButton {
  height: 40px;
  line-height: 40px;
  display: block;
  width: 100%;
  background: #FF8E00;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  &:hover {
    background: #3C4148;
    transition: .3s;
  }
}