.search {
  background: #3c4148;
}

.searchWrapper {
  margin: 0 auto;
}

.titleSection {
  margin: 0 auto;
  width: 450px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.title {
  margin: 80px auto 0 auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-shadow: 0 2px 4px #000;
  color: #fe8d00;
  text-align: center;
  font-size: 45px;
  width: 100%;
}

.description {
  margin: 0 auto 25px auto;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.frontButtons {
  margin: 0 auto 25px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  button {
    max-width: 248px;
  }
}

.frontButtons {
  margin: 0 auto 25px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  a {
    line-height: 36px;
    text-decoration: none;
    max-width: 248px;
  }
}