@font-face {
  font-family: 'Title';
  src: url('../fonts/title.otf');
}

@font-face {
  font-family: 'Logo';
  src: url('../fonts/logo.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('../fonts/regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Regular', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 32px;
}

h2 {
  font-family: 'Title';
  font-size: 24px;
}

h3 {
  font-family: 'Title';
  font-size: 18px;
}

.wrapper {
  margin: 0 auto;
  padding: 12px 20px;
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
}

main {
  min-height: 850px;
}

.orange {
  color: #ff8d00;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.react-datepicker__input-container,
.react-datepicker__input-container input {
  width: 100%;
}
