.title {
  margin-bottom: 25px;
  text-align: center;
}

.instruction {
  .instructions {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .item {
      padding: 10px;
      text-align: center;
      width: 220px;
      height: 220px;
      border-radius: 100%;
      border: 6px solid #3c4148;
      overflow: hidden;
      h3 {
        margin: 0;
        padding: 0;
        font-size: 66px;
        line-height: 120px;
        color: #ff8d00;
      }
      p {
        margin: 0 auto;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
