* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../assets/fonts/Roboto-Black.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Tahoma, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
