.loginForm {
  margin: 0 auto;
  max-width: 450px;
  h1 {
    text-align: center;
  }
}

.extraOptions {
  margin: 8px auto;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #3C4148;
    &:hover {
      color: #FF8E00;
    }
  }
}

.errorMessage {
  margin-left: 15px;
  text-align: center;
  color: red;
}