.header__navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation__link {
  margin: auto;
  padding: 10px 20px;
  display: block;
  border: 2px solid #3c4148;
  background: #3c4148;
  color: #fff;
  text-decoration: none;
  font-family: 'Title';
  font-size: 16px;
  transition: 0.3s;
}

.navigation__link:hover {
  border: 2px solid #ff8d00;
  transition: 0.3s;
  cursor: pointer;
}
